.dashboard {

    .dashboard-content {
        width: 83.3%;
        display: flex;
        flex-direction: column;

        .upload-first-file {
            label {
                color:#347396;
                font-size:28px;
                &:hover {
                    cursor: pointer;
                    color : #1d4458;
                }
            }
        }

        .filters-for-image-uploaded {
            display: flex;
            justify-content: center;
            span {
                margin: 0.2rem;
                padding: 0.2rem 0.6rem;
                background-color: #ececec;
                border-radius: 0.24rem;
                transition: all 150ms ease;
                &:hover {
                    cursor: pointer;
                    background-color: #d3d3d3;
                }
            }
        }

        .image-effects-final-to-submit {
            border: none;
            background-color: #434C9B;
            margin-top: 1rem;
            width: 140px;
            padding: 0.2rem;
            border: 3px solid #434C9B;
            border-radius: 0.2rem;
            color: #ebebeb;
            transition: all 0.3s;
            &:hover {
                box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
            }
            &:focus {
                box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 2px 0px, rgba(14, 30, 37, 0.32) 0px 2px 8px 0px;
            }
        }

        .design-description-section {
            background-color: white;
            margin-top: 2rem;
            border-radius: 0.3rem;
            box-shadow: rgba(0, 0, 0, 0.08) 0px 4px 12px;
            .insta-user-id {
                border: 1px solid #e7e7e7;
                // padding: 0.4rem;
                background-color: white;
                border-radius: 0.2rem;
                outline: none;
                resize: none;
                margin-top: 1.5rem;
                &::placeholder {
                    color : #929292;
                    font-family: 'Roboto';
                }
            }

            textarea {
                border: 1px solid #e7e7e7;
                padding: 0.25rem;
                border-radius: 0.2rem;
                background-color: white;
                outline: none;
                resize: none;
                margin-top: 1.5rem; 
                color: #636363;
                &::placeholder {
                    color : #929292;
                    font-family: 'Roboto';
                }
            }

        }
    }


    //image showcase section (when an image is uploaded)
    .dashboard-image-showcase-section {
        display: flex;
        justify-content: center;
        align-items: center;
        .image-wrapper {
            
            margin-top: 2rem;
            border-radius: 1rem;
            width: 70%;
            box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
        }
        .dashboard-uploaded-design {
            border-radius: 1rem;
        }

    }

    .dashboard-sidebar {
        border-right: 1px solid #e3e3e3;
        background-color: white;
        height: 100vh;
    }
    .hamBurger {
        background: transparent;
        -webkit-appearance: button;
        overflow: visible;
        text-transform: none;

        border: none;
        position: absolute;
        z-index: 1000;
        right: -4rem;
        transition: all 0.3s;
        top: 0.2rem;
        &:hover {
            cursor: pointer;
        }
        &:focus {
            transform: scale(0.9);
        }
        &:active {
            transform: scale(0.95);
        }
        &:visited {
            transform: scale(0.1);
        }
    }

    .file-upload-button {
        border: none;
        background-color: #434C9B;
        margin: 0 auto;
        border: 3px solid #434C9B;
        border-radius: 0.2rem;
        width: 80%;
        color: #ebebeb;
        font-family: "Roboto";
        transition: all 0.3s;
        &:hover {
            transform: scale(0.97);
            cursor: pointer;
        }
    }

    ul {
        list-style: none;
        padding: 1rem !important;
        li {
            padding: 0.3rem;
            font-family: $font-5;
            transition: all 100ms ease-in-out 0s;
            border-radius: 0.2rem;
            &:hover {
                cursor: pointer;
                background-color: rgb(243, 243, 243);
            }

        }
    }
    .dashboard-sidebar-open {
        width: 28%;
        transition: all 0.3s;
        // overflow-x: hidden;
    
    }
    .dashboard-sidebar-close {
        width: 0%; 
        transition: all 0.3s;
        transform: translateX(-100%);
        // overflow-x: hidden;
    
    }
    .dashboard-content-when-sidebar-open {
        transition: all 0.3s;
        margin-top: 1.5rem;
    }
    .dashboard-content-when-sidebar-close {
        display: flex;
        margin-top: 1.5rem;
        width: 66%;
        // justify-content: center;
        transition: all 0.3s;
        // transform: translateX(-100%);
    }
}


.dashboard-sidebar {
    
}