@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Yusei+Magic&display=swap');

@font-face {
    font-family: britannic;
    src:url('./britannic.otf')
}

$font-1:britannic;
$font-2:Yusei Magic;
$font-3:Roboto;
